extends ../layout/main
include ../components/footer

block variables
    - title = 'title';
    - pageClass = 'main-page'

block head

block header
    +header()

block content
    .container
        +breadcrumbs()

        section.section_product.product
            .product__slider
                .slider-nav
                    .slide
                        img(src=imgPath('demo/slider1.png'), alt="")
                    .slide
                        img(src=imgPath('demo/slider2.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider3.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider4.png'), alt="")
                    .slide
                        img(src=imgPath('demo/slider2.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider3.jpg'), alt="")
                .slider-for
                    .slide
                        img(src=imgPath('demo/slider1.png'), alt="")
                    .slide
                        img(src=imgPath('demo/slider2.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider3.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider4.png'), alt="")
                    .slide
                        img(src=imgPath('demo/slider2.jpg'), alt="")
                    .slide
                        img(src=imgPath('demo/slider3.jpg'), alt="")

            .product__title.p-title
                .p-title__tags
                    .tag.tag_sale -20%
                    .tag.tag_hit Хит продаж
                h1 Массажное кресло <br/>Ergonova Full Body SE
                .p-title__article
                    span Артикул: 33084
                    a.get-description(href="#" download)
                        img(src=imgPath('logos/pdf.svg'), alt="")

            .product__info
                .product__price
                    .price.price_old
                        | 675 000 ₽
                    .price.price_new
                        | 529 000 ₽

                .product__credit
                    a.js-modal(href="credit")  От <strong>22 041 ₽/мес</strong> в рассрочку под 0%

                .product__btns
                    .line.top
                        a.btn.btn_primary(href="#")
                            | Добавить в корзину
                            i.icon.icon_right: +icon('cart2')
                        a.btn.btn_primary-outline.js-modal(href="testdrive")
                            | Запись на тест-драйв
                    .line.bottom
                        .delivery
                            +icon('delivery')
                            span Бесплатная доставка по РФ
                        a.compare(href="#")
                            +icon('compare')
                            span  Сравнить

                .product__locations
                    .title В наличии:
                    a(href="#") ТРК Родник, Салон ERGONOVA
                    br
                    a(href="#") ТРЦ Алмаз, Салон ERGONOVA


        .product-nav
            ul
                li.is-active: a(href='#description') Описание
                li: a(href='#description') Характеристики
                li: a(href='#description') Доставка и самовывоз
                li: a(href='#description') Гарантия
                li: a(href='#description') Отзывы
                li: a(href='#description') Аксессуары

        aside.banner.banner_1
            .banner__bg
            .banner__inner
                h2.title Технологии<br/>и безупречный стиль
                .text
                    p <strong>Массажное кресло Ergonova Full Body —</strong> <br/>великолепный выбор для массажа всего тела. <br/>В нем собраны все самые эффективные функции, обеспечивающие максимальное расслабление и комфорт.

        section.section_advantages
            h2 Уникальные особенности
            .advantages-list
                .item.item_1
                    .title Удлинённая SL-образная<br/>массажная каретка
                .item.item_2
                    .title 3D - механизм <br/>“умного массажа”
                .item.item_3
                    .title Беспроводное <br/>зарядное устройство
                .item.item_4
                    .title Интуитивное <br/>голосовое управление


        aside.banner.banner_2
            .banner__bg
                .banner-bg-clip
            .banner__inner
                //- .clipper
                h2.title Добро пожаловать на приём <br/>к профессиональному <br/>массажисту
                .text
                    p 3D механизм - повторяет действия рук массажиста,<br/> снимая напряжение в тканях и мышечных узлах.<br/> Точечный массаж обеспечивает высокую<br/> проникающую способность и<br/> расслабление шеи и плеч.
            .banner-chair

        section.section_modes
            h2 Режимы 3D-массажа
            .mode-list
                -
                    var modes = [
                        {title: 'Массаж Шиацу', desc: 'Глубокий массаж от шеи и плеч до талии и бедер. Активизирует дополнительные акупунктурные точки. Даёт здоровый и сбалансированный поток энергии.'},
                        {title: 'Ритмичное постукивание', desc: 'Бодрящая техника пробуждения для стимуляции и перемещения напряженных мышц тела, увеличивает кровообращение и выводит токсины из тела. '},
                        {title: 'Вращательные движения', desc: 'Выполняет круговое вращательное движение, массажная каретка движется в S- образным движением, вдоль тела, для снятия напряжения.'},
                        {title: 'Усиленное постукивание', desc: 'Активное постукивание оказывает давление на акупунктурные точки тела, чтобы успокоить нервную систему и снять мышечное напряжение.'},
                        {title: 'Разминание и постукивание', desc: 'Синхронное разминание и интенсивное постукивание помогают снять мышечное напряжение и способствуют оздоровлению организма.'},
                        {title: '3D Шиацу', desc: 'Приводы массажных головок вытягиваются вперед на 8 см, обеспечивая глубокий массаж всех мышц и каждой клетки тела для максимальной релаксации'},
                    ]
                each item, i in modes
                    .item
                        .mode-img__wrapper
                            img(src=imgPath(`mode/${i+1}.png`), alt="")
                        h3.title!=item.title
                        p!=item.desc

        section.section_feature
            .feature
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/voice-assistant.jpg'), alt="")
                    .feature__text-wrapper
                        h3 Экономия времени
                        .feature__description Интуитивное голосовое управление
                        .feature__text
                            p Больше не нужно тратить время на поиск нужной программы через пульт дистанционного управления. Достаточно включить кресло и голосом назвать нужную вам программу.
                            a.btn.btn_primary(href="#") Записаться на тест-драйв
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/yoga.jpg'), alt="")
                    .feature__text-wrapper
                        h3 гибкость тела
                        .feature__description Режим растяжки <br/>Yoga stretch edition
                        .feature__text
                            p Благодаря режиму растяжки стимулируется кровообращение, улучшается состояние кожи, повышается метаболизм.
                            .feature__info
                                +icon('info')
                                .text
                                    p Растяжка несёт в себе массу пользы для вашего тела. Не зря растяжка спины, ног и других мышц входит в обязательный комплекс подготовки всех спортсменов.
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/wireless-charger.jpg'), alt="")
                    .feature__text-wrapper
                        h3 Зарядись и заряди смартфон
                        .feature__description Беспроводное <br/>зарядное устройство
                        .feature__text
                            p Не нужно переживать, что ваш смартфон разрядится. Вы можете расслабиться в массажном кресле, он будет заряжаться благодаря встроенной функции беспроводной зарядки.
                            a.btn.btn_primary(href="#") Узнать подробнее
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/grafen.jpg'), alt="")
                    .feature__text-wrapper
                        h3 Система нагрева
                        .feature__description Графеновая <br/>технология прогрева
                        .feature__text
                            p Новая сверхбыстрая система прогрева спины и талии, которая ускоряет кровообращение, усиливает эффект от массажа и помогает достичь абсолютного расслабления.
                            .feature__info
                                +icon('info')
                                .text
                                    p В 2010 году Андрей Гейм и Константин Новоселов получили Нобелевскую премию за открытие графена - двумерного материала с полезными свойствами.

        aside.banner.banner_3
            .banner__bg
                .banner-logo
                .banner-chair
            .banner__inner
                .text
                    p
                        span.mob-title Понятие Zero Gravity (нулевой гравитации) было впервые разработано NASA.&nbsp;
                        span Массажное кресло откидывается, пока ноги не поднимутся на уровне сердца. Такое положение тела способствует более глубокому дыханию и расслаблению, при этом массажные ролики делают более эффективный массаж.


        section.section_video.text-center
            h2 Мисс Бикини выбирает <br/>Full Body SE
            a.js-modalVideo-play(href="video1").video
                img(src=imgPath('demo/video.png'), alt="")
            .quality
                img.quality__logo(src=imgPath('quality.png'), alt="")
                h3 Немецкое качество
                p Многолетний опыт разработки и реализации массажного оборудования позволяет нам производить долговечную и эргономичную продукцию


        section.section_feature
            .feature
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/scaner.jpg'), alt="")
                    .feature__text-wrapper
                        h3 сканирование  тела
                        .feature__description Технология <br/>подстраивается под вас
                        .feature__text
                            p Механизм сканирует положение плечей, местоположение стопы и подстраивается под точный рост пользователя перед первым запуском программы автоматического массажа.
                            p Программы массажа учитывают физиологические особенности и оказывают массажное воздействие на определенные области с точно рассчитанной силой и максимальной эффективностью.
                            a.btn.btn_primary(href="#") Заказать консультацию

                .feature__item
                    .feature__img
                        img(src=imgPath('feature/longer.png'), alt="")
                    .feature__text-wrapper
                        h3 массаж всего тела
                        .feature__description Удлинённая <br/>массажная каретка
                        .feature__text
                            p Интеллектуальный массажный механизм в сочетании с SL-образной массажной кареткой идеально подходит под изгибы тела. 1250-миллиметровая сверхдлинная массажная система обеспечивает расслабляющий массаж по всей длине позвоночника вплоть до ягодичных мышц.
                            .feature__info
                                +icon('info')
                                .text
                                    p Зона охвата увеличена на 60% по сравнению с обычными массажными креслами
                .feature__item
                    .feature__img
                        img(src=imgPath('feature/foot.jpg'), alt="")
                    .feature__text-wrapper
                        h3 отдых для ног
                        .feature__description Высококлассный <br/>икроножный массаж
                        .feature__text
                            p Подставка для ног автоматически выдвигается. Датчик в ногах определяет местоположение стопы и подстраивается под точный рост пользователя, чтобы обеспечить индивидуальный массаж для снятия стресса.
                            p 9 см дополнительной длины в ногах, позволяет охватить большую часть икр, что обеспечивает более эффективный уход за ногами.

                .feature__item
                    .feature__img
                        img(src=imgPath('feature/pillow.jpg'), alt="")
                    .feature__text-wrapper
                        h3 полное погружение
                        .feature__description Обволакивающие <br/>тело подушки
                        .feature__text
                            p Компрессионные подушки идеально подходят под изгибы тела и обеспечивают полный массажный эффект
                            a.btn.btn_primary(href="#") Узнать подробнее

                .feature__item
                    .feature__img
                        img(src=imgPath('feature/foot2.jpg'), alt="")
                    .feature__text-wrapper
                        h3 Отдых для ног
                        .feature__description Массаж стопы
                        .feature__text
                            p Блок подставки для ног из 3-х роликов обеспечивают точную стимуляцию рефлекторных зон.
                            p 4 компрессионные подушки с обеих сторон стопы обеспечивают попеременный сжимающий массаж, имитирующий прямой и обратный разминающий массаж рук человека.
                            .feature__info
                                +icon('info')
                                .text
                                    p Регулярный массаж пальцев стопы поможет при снятии стресса, улучшения работы кровеносной и лимфодренажной систем, а также разблокировки нервных путей.

        aside.banner.banner_4
            .banner__bg
            .banner__inner
                h2.title Настолько удобно,<br/> что хочется заснуть


        section.section_programm
            .programms
                .programms__top
                    .left
                        h2 12 индивидуальных <br/>программ массажа
                        p Каждая из разработанных автоматических программ имеет свои отличительные особенности согласно общепринятым видам массажа.
                    .right
                        img(src=imgPath('programs.jpg'), alt="")
                ol.programms__list
                    -
                        var list = [
                            {title: 'Хатха-йога', desc: 'Растяжка всего тела умеренной интенсивности'},
                            {title: 'Пробуждение', desc: 'Энергичный массаж плечей, чтобы разбудить ваше тело и задать тонус на весь день'},
                            {title: 'Расслабление', desc: 'Мягкий массажный режим для снятия напряжения в нижней части тела'},
                            {title: 'Комфорт', desc: 'Комбинация массажных техник со средней и высокой интенсивностью для расслабления'},
                            {title: 'Королевский', desc: 'Мягкие техники массажа шиацу, разминаний и нажатий для снятия усталости тела и повышения жизнеспособности мышц'},
                            {title: 'Исключительный', desc: 'Мягкая интенсивность массажа с расслабляющим разминанием и 3D шиацу спины ,талии и бедёр.'},
                            {title: 'Шея и плечи', desc: 'Разминания, надавливания, и постукивания для снятия боли и скованности в шее и плечах.'},
                            {title: 'Спина и позвоночник', desc: '3D надавливания, постукивания и роликовые массажные техники, для снятия напряжения в пояснице и позвоночнике.'},
                            {title: 'Талия и бёдра', desc: 'Успокаивающее разминание и воздушный массаж для упражнений на талию и бедра.'},
                            {title: 'Утренняя заря', desc: 'Режим постукивания, чтобы разбудить все части тела и получить заряд бодрости на весь день.'},
                            {title: 'Освежающий сон', desc: 'Массаж шиацу и надавливания, для бодрости, повышения производительности и творческого потенциала.'},
                            {title: 'Сладкие сны', desc: 'Мягкий массаж шиацу,  надавливания и разминания для расслабления тела и мозга.'},

                        ]
                    each item in list
                        li.item
                            .text
                                h3.title!=item.title
                                .description!=item.desc

        section.section_form
            .form-main
                .form-main__left
                    h2 Оставьте заявку
                    p Свяжемся с вами в течение 15 минут
                    form.form.form_js-validate#form1(novalidate action="/test.php")
                        .form__line
                            .form__field
                                input#name(type="text", name="given-name" placeholder="Ваше имя" data-validate="no-empty")
                                span.error.hidden(aria-live="polite") Поле не должно быть пустым.
                        .form__line
                            .form__field
                                input#phone(type="phone", name="tel" placeholder="Ваш телефон" data-validate="phone")
                                span.error.hidden(aria-live="polite") Введите действительный номер телефона.
                        .form__accepted
                            label.form__checkbox
                                input#accepted1(type="checkbox", name="privacy" data-validate="checkbox")
                                .pseudo
                                .text Я ознакомлен и согласен с <a href="#" target=_blank>условиями политики обработки персональных данных и конфиденциальности</a>
                                span.error.hidden(aria-live="polite") Флажок должен быть отмечен
                        button.btn.btn_primary(type="submit") Отправить заявку

                .form-main__right
                    img(src=imgPath('form.jpg'), alt="")


        section.section_addresses
            h2 Адреса салонов по городам
            -
                var accordion = [
                    {
                        town: 'Москва',
                        stores: [
                            {
                                link: '/stores/trc-mega-belaya-dacha-magazin-ergonova',
                                title: 'ТРЦ МЕГА Белая Дача, Салон ERGONOVA',
                                lines: ['Метро Кузьминки, г. Котельники, 1-й Покровский пр-д, 5','напротив кассовой зоны ИКЕА'],
                                phones: ['8 (800) 700-14-29','8 (495) 755-20-98']
                            },
                        ]
                    },
                    {
                        town: 'Санкт-Петербург',
                        stores: [
                            {
                                link: '/stores/tс-cont-magazin-t',
                                title: 'ТК Мебельный континент',
                                lines: ['Варшавская, 3, к1, 3 этаж, секция 333А','Метро Электросила'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Екатеринбург',
                        stores: [
                            {
                                link: '/stores/trc-raduga-park-magazin-massager',
                                title: 'ТРЦ РАДУГА ПАРК, Салон ERGONOVA',
                                lines: ['Ул. Репина, 94','напротив Билайн'],
                                phones: ['8 (800) 700-14-29','8 967 639 62 13']
                            }
                        ]
                    },
                    {
                        town: 'Нижний Новгорород',
                        stores: [
                            {
                                link: '/stores/relaks-ip-savin',
                                lines: ['ул. Невзоровых','д. 49, оф. 8'],
                                phones: ['8 (800) 700-14-29'],
                            },
                            {
                                link: '/stores/tс-mir-magazin-massager',
                                lines: ['Бульвар Мира','д.7'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Самара',
                        stores: [
                            {
                                title: 'МЕГА Самара, остров ERGONOVA',
                                link: '/stores/mega-samara-ostrov-ergonova',
                                lines: ['Московское шоссе, 24-й километр, 5','1 этаж, рядом с М.Видео'],
                                phones: ['8 (800) 700-14-29', ' 8 903 301 61 08'],
                            },
                            {
                                title: 'ТРК КОСМОПОРТ, остров ERGONOVA',
                                link: '/stores/trk-kosmoport-ostrov-ergonova',
                                lines: [' ул. Дыбенко, 30','1 этаж'],
                                phones: ['8 (800) 700-14-29', '8 903 301 58 38']
                            }
                        ]
                    },
                    {
                        town: 'Казань',
                        stores: [
                            {
                                title: 'ЦУМ',
                                link: '/stores/cym-magazin-massager',
                                lines: ['Московская, 2.'],
                                phones: ['8 (800) 700-14-29'],
                            },
                            {
                                title: 'ТЦ ЮЖНЫЙ',
                                link: '/stores/tс-ujnui-magazin-massager',
                                lines: [' Пр-т Победы, 91'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Челябинск',
                        stores: [
                            {
                                title: 'ТРЦ Алмаз,  Салон ERGONOVA',
                                link: '/stores/trc-almaz-magazin-ergonova',
                                lines: ['Копейское шоссе, 64', '2 этаж, рядом с Leroy Merlin'],
                                phones: ['8 967 862 03 06','8 (800) 700-14-29'],
                            },
                            {
                                title: 'ТРК Родник,  Салон ERGONOVA',
                                link: '/stores/trk-rodnik-magazin-massager',
                                lines: ['Ул. Труда, 203','(–2 этаж), напротив Castorama'],
                                phones: ['8 967 862 03 05','8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Уфа',
                        stores: [
                            {
                                title: 'МЕГА Уфа,  Салон ERGONOVA',
                                link: '/stores/stc-mega-magazin-ergonova',
                                lines: [' ул. Рубежная, 174','1 этаж, напротив кассовой зоны ИКЕА'],
                                phones: ['8 (800) 700-14-29','8 (347) 299-32-82']
                            }
                        ]
                    },
                    {
                        town: 'Пермь',
                        stores: [
                            {
                                title: 'Бульвар',
                                link: '/stores/stc-mega-magazin-ergonova',
                                lines: [' Гагарина 26'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Саратов',
                        stores: [
                            {
                                title: 'ТК «Ваш дом»',
                                link: '/stores/ooo-cit',
                                lines: [' Зарубина 150'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Тюмень',
                        stores: [
                            {
                                title: 'ТК «ОРИОН»  Салон ERGONOVA',
                                link: '/stores/tс-orion-magazin-massager',
                                lines: ['ул. Федюнинского, 43, 1 уровень', 'рядом с магазином  «Амега»'],
                                phones: ['8 967 862 03 06','8 (800) 700-14-29'],
                            },
                            {
                                title: 'ТРЦ «Премьер»',
                                link: '/stores/tс-premer-cont-massager',
                                lines: ['ул. 50 лет ВЛКСМ, д. 63',' (вход со стороны АЗС)'],
                                phones: ['8 967 862 03 05','8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Ульяновск',
                        stores: [
                            {
                                title: 'Мир массажа, ТЦ ПАРУС',
                                link: '/stores/ooo-cit',
                                lines: ['Ульяновск, пр. Авиастроителей','7а, 2 этаж'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Оренбург',
                        stores: [
                            {
                                title: 'ТРЦ ARMADA-2, Салон ERGONOVA',
                                link: '/stores/ooo-cit',
                                lines: ['Нежинское шоссе, 2А','1 этаж, рядом с магазином «Лента»'],
                                phones: ['8 (800) 700-14-29','8 (3532) 42 42 58']
                            },
                            {
                                title: 'Молл Армада,  Салон ERGONOVA',
                                link: '/stores/moll-armada-magazin-ergonova',
                                lines: ['Шарлыкское шоссе, 1','Молл Армада, галерея Лувр, 1 этаж'],
                                phones: ['8 (3532) 29 28 58','8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Набережные челны',
                        stores: [
                            {
                                title: 'ТЦ Омега',
                                link: '/stores/tс-omega-magazin-massager',
                                lines: ['Н. Челны. Пр-т ​Сююмбике, 2/19'],
                                phones: ['8 (800) 700-14-29']
                            }
                        ]
                    },
                    {
                        town: 'Магнитогорск',
                        stores: [
                            {
                                title: 'ТРК Гостиный Двор, Салон ERGONOVA',
                                link: '/stores/trk-gostinyy-dvor-magazin-ergonova',
                                lines: ['г. Магнитогорск, проспект Карла Маркса, 153','1 этаж'],
                                phones: ['8 (3519) 39-30-32','8 (800) 700-14-29']
                            }
                        ]
                    },

                ]


            .accordion#accordion1
                -
                    var fColumn = accordion.slice(0,3)
                    var sColumn = accordion.slice(4,7)
                    var tColumn = accordion.slice(8,11)
                    var lColumn = accordion.slice(12)
                    var columns = [fColumn,sColumn,tColumn,lColumn]

                each column in columns
                    .accordion__column
                        each item, i in column
                            .accordion__item
                                .accordion__head
                                    span!= 'г.' + item.town
                                .accordion__body
                                    each store in item.stores
                                        a(href!=store.link)
                                            if store.title
                                                span!=store.title
                                            else
                                                span Сайт магазина
                                        each line in store.lines
                                            div!=line

                                        .accordion__item-phone
                                            .label Тел.:
                                            .phones
                                                each phone in store.phones
                                                    a(href!=phone)
                                                        span!=phone




        section.section_map
            h2.title-aria Адреса салонов по городам на карте
            .map
                img(src=imgPath('demo/map.jpg'), alt="")


block modals
    -
        var modals = [
            {
                id: 'callback',
                title: 'Заказать звонок',
                text: '<p>Свяжемся с вами в течение 15 минут.</p> <p>Наш менеджер ответит на все ваши вопросы.</p>',
            },
            {
                id: 'testdrive',
                title: 'Записаться на тест-драйв',
                text: '<p>Подберём ближайший к вам салон и подходящее время</p>',
            },
            {
                id: 'credit',
                title: 'Оформить рассрочку',
                text: '<p>Пожалуйста, оставьте свои данные в форме ниже.</p> <p>Наш менеджер перезвонит вам для </p> <p>индивидуального просчета.</p>',
            },
            {
                id: 'video1',
                title: 'Мисс Бикини выбирает Full Body SE',
                //- videoYoutube: 'https://www.youtube.com/embed/2TxGMXYj7Ew',
            },


        ]


    each item in modals
        +modal(item)
