mixin modal(data)
    - data = data || {}

    .smart-modal(id!=data.id)
        .smart-modal__overlay
        .smart-modal__content(class!={'smart-modal__content_video js-popup-video': data.videoYoutube})
            .smart-modal__close(class!={'js-video-close': data.videoYoutube})
                +icon('close')
            h2.smart-modal__title(class!={'h2_md': data.videoYoutube})!=data.title
            .smart-modal__text!=data.text

            if(data.videoYoutube)
                .video-ratio(class!={'video__wrapper': data.videoYoutube})
                    iframe(src=data.videoYoutube + '?autoplay=0', allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            else
                form.form.form_js-validate(id!=`form_${data.id}` novalidate action="/test.php")
                    .form__line
                        .form__field
                            input(id!='name'+data.id, type="text", name="given-name" placeholder="Ваше имя" data-validate="no-empty")
                            span.error.hidden(aria-live="polite") Поле не должно быть пустым.
                    .form__line
                        .form__field
                            input(id!='phone'+data.id, type="tel", name="tel" placeholder="Ваш телефон" data-validate="phone")
                            span.error.hidden(aria-live="polite") Введите действительный номер телефона.
                    .form__accepted
                        label.form__checkbox
                            input(id!='accepted'+data.id, type="checkbox", name="privacy" data-validate="checkbox")
                            span.pseudo
                            span.text Я ознакомлен и согласен с <a href="#" target=_blank>условиями политики обработки персональных данных и конфиденциальности</a>
                            span.error.hidden(aria-live="polite") Флажок должен быть отмечен
                    button.btn.btn_primary(type="submit") Отправить заявку